@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

@import "tailwindcss";

body {
  font-family: 'Outfit', sans-serif;
  @apply bg-gray-50 text-gray-900;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}